
# BSGSW11_EscuchaEventos
#urlServicioExpuesto.EscuchaEventos=/camel-sti-bsg-cxf/webservices/STI_BSG_Escucha_Eventos
#urlServicioEnBsg.EscuchaEventos=https://bsg.gob.ec/sw/camel-sti-bsg-cxf/webservices/STI_BSG_Escucha_Eventos?wsdl
urlServicioExpuesto.EscucharEventos=/STI/BSGSW11_Escuchar_Eventos
urlServicioEnBsg.EscucharEventos=https://www.bsg.gob.ec/sw/STI/BSGSW11_Escuchar_Eventos?wsdl
timeToLive.EscuchaEventos=180

 # BSGSW01_ConsultarCedula

urlServicioExpuesto.ConsultarCedula=/RC/BSGSW01_Consultar_Cedula
urlServicioExpuesto.ConsultarVer1Cedula=/RC/BSGSW03_Consultar_Cedula
urlServicioEnBsg.ConsultarCedula=https://www.bsg.gob.ec/sw/RC/BSGSW01_Consultar_Cedula?wsdl
urlServicioProv.ConsultarCedula=http://webservice02.registrocivil.gob.ec:8080/WEBRegCivCedula/WSRegistroCivilConsultaCedula
timeToLive.ConsultarCedula =360

# BSGSW02_ConsultarNombre

urlServicioExpuesto.ConsultarNombre=/RC/BSGSW02_Consultar_Nombre
urlServicioEnBsg.ConsultarNombre=https://www.bsg.gob.ec/sw/RC/BSGSW02_Consultar_Nombre?wsdl
urlServicioProv.ConsultarNombre =http://webservice02.registrocivil.gob.ec:8080/WEBRegCivNombre/WSRegistroCivilConsultaNombre
timeToLive.ConsultarNombre =360

urlServicioExpuesto.ConsultarEstraObjIndGPR=/SNAP/BSGSW02_Consultar_EstraObjIndGPR
urlServicioEnBsg.ConsultarEstraObjIndGPR=https://www.bsg.gob.ec/sw/SNAP/BSGSW02_Consultar_EstraObjIndGPR?wsdl
urlServicioProv.ConsultarEstraObjIndGPR =http://gpr.administracionpublica.gob.ec/gpr_ecuador/wsGprSipeip
timeToLive.ConsultarEstraObjIndGPR=360


# BSGSW03_Consultar_DocumeQUI
urlServicioExpuesto.ConsultarDocumeQUI=/STI/BSGSW03_Consultar_DocumeQUI
urlServicioEnBsg.ConsultarDocumeQUI=https://www.bsg.gob.ec/sw/STI/BSGSW03_Consultar_DocumeQUI?wsdl
urlServicioProv.ConsultarDocumeQUI=http://prows.informatica.gob.ec/StiWsDocumentoQuipux/ServiciosWebDocumentoQuipux/DocumentoQuipuxWS
timeToLive.ConsultarDocumeQUI=360

# BSGSW04_Consultar_UsuarioQUI
urlServicioExpuesto.ConsultarUsuarioQUI=/STI/BSGSW04_Consultar_UsuarioQUI
urlServicioEnBsg.ConsultarUsuarioQUI=https://www.bsg.gob.ec/sw/STI/BSGSW04_Consultar_UsuarioQUI?wsdl
urlServicioProv.ConsultarUsuarioQUI=http://pruws.informatica.gob.ec/ConsultaDatosUsuario/ConsultaDatosUsuarioService
timeToLive.ConsultarUsuarioQUI=360

# BSGSW05_Consultar_Token
urlServicioExpuesto.GeneraToken=/STI/BSGSW05_Consultar_Token
urlServicioEnBsg.GeneraToken=https://www.bsg.gob.ec/sw/STI/BSGSW05_Consultar_Token?wsdl
#urlServicioProv.GeneraToken=http://ap2.bsg.gob.ec:8080/UserNameToken/GenerarTokenService/BSG01_Generar_Token

urlServicioProv.GeneraToken=http://prows.informatica.gob.ec/UserNameToken/GenerarTokenService/BSG01_Generar_Token



# BSGSW08_Acceder_BSG
urlServicioExpuesto.AccederBsg=/STI/BSGSW08_Acceder_BSG
urlServicioEnBsg.AccederBsg=https://www.bsg.gob.ec/sw/STI/BSGSW08_Acceder_BSG?wsdl
#urlServicioProv.AccederBsg=http://ap2.bsg.gob.ec:8080/sbsg-sw/AccesoBSGService/BSG04_Acceder_BSG

urlServicioProv.AccederBsg=http://prows.informatica.gob.ec/sbsg-sw/AccesoBSGService/BSG04_Acceder_BSG

# BSGSW01_Consultar_Titulos
urlServicioExpuesto.ConsultarTitulos=/SENESCYT/BSGSW01_Consultar_Titulos
urlServicioEnBsg.ConsultarTitulos=https://www.bsg.gob.ec/sw/SENESCYT/BSGSW01_Consultar_Titulos?wsdl
urlServicioProv.ConsultarTitulos=http://datoseguro.senescyt.gob.ec/TitulosConsultas/ServicioConsultaTitulo
timeToLive.ConsultarTitulos=360

# BSGSW02_Consultar_Titulos Segunda Version
urlServicioExpuesto.ConsultarTitPorCedula=/SENESCYT/BSGSW02_Consultar_TitPorCedula
urlServicioEnBsg.ConsultarTitPorCedula=https://www.bsg.gob.ec/sw/SENESCYT/BSGSW02_Consultar_TitPorCedula?wsdl
urlServicioProv.ConsultarTitPorCedula=http://webservices.senescyt.gob.ec/WSConsultaTitulos/WSConsultaTitulosService
timeToLive.ConsultarTitPorCedula=360


# BSGSW09_Actualizar_IndicadGPR
urlServicioExpuesto.ActualizarIndicadGPR=/STI/BSGSW09_Actualizar_IndicadGPR
urlServicioEnBsg.ActualizarIndicadGPR=https://www.bsg.gob.ec/sw/STI/BSGSW09_Actualizar_IndicadGPR?wsdl
urlServicioProv.ActualizarIndicadGPR=http://gpr.administracionpublica.gob.ec/gpr_ecuador/wsActualizaIndicadores
timeToLive.ActualizarIndicadGPR=360

urlServicioExpuesto.ConsultarServiciosGPR=/SNAP/BSGSW09_Consultar_ServiciosGPR
urlServicioEnBsg.ConsultarServiciosGPR=https://pru.bsg.gob.ec/sw/SNAP/BSGSW09_Consultar_ServiciosGPR?wsdl
urlServicioProv.ConsultarServiciosGPR =http://prugpr.administracionpublica.gob.ec/gpr_ecuador/wsGPRServices
timeToLive.ConsultarServiciosGPR=360

# BSGSW10_VerificarValidezCFE
urlServicioExpuesto.VerificarValidezCFE=/STI/BSGSW10_Verificar_ValidezCFE
urlServicioEnBsg.VerificarValidezCFE=https://www.bsg.gob.ec/sw/STI/BSGSW10_Verificar_ValidezCFE?wsdl
urlServicioProv.VerificarValidezCFE=http://ap2.bsg.gob.ec:8080/WSVerificaCertificadoRevocado/VerificaCertificadosRevocadosService/VerificaCertificadosRevocados
timeToLive.VerificarValidezCFE=360

# BSGSW01_ConsultarNots
urlServicioExpuesto.ConsultarNotasINM=/INM/BSGSW01_Consultar_NotasINM
urlServicioEnBsg.ConsultarNotasINM=https://www.bsg.gob.ec/sw/INM/BSGSW01_Consultar_NotasINM?wsdl
urlServicioProv.ConsultarNotasINM=http://181.112.220.212:8080/inm-mrl-ws/ConsultaNotas
timeToLive.ConsultarNotasINM=360

# BSGSW01_ConsultarRuc
urlServicioExpuesto.ConsultarRucSRI=/SRI/BSGSW01_Consultar_RucSRI
urlServicioEnBsg.ConsultarRucSRI=https://www.bsg.gob.ec/sw/SRI/BSGSW01_Consultar_RucSRI?wsdl
urlServicioProv.ConsultarRucSRI=https://sriintra01/dw-ws/consultaRuc
timeToLive.ConsultarRucSRI=360

# BSGSW01_ConsultarLicenciaMatricula
urlServicioExpuesto.ConsultarLicenciaMatricula=/ANT/BSGSW01_Consultar_MatriculaLic
urlServicioEnBsg.ConsultarLicenciaMatricula=https://www.bsg.gob.ec/sw/ANT/BSGSW01_Consultar_MatriculaLic?wsdl
urlServicioProv.ConsultarLicenciaMatricula=http://10.80.134.12:7001/BASEUNIF-BASEUNIF-context-root/MetodosPort
timeToLive.ConsultarLicenciaMatricula=360

#BSGSW02_ConsultarEstadoTrib
urlServicioExpuesto.ConsultarEstadoTribSRI=/SRI/BSGSW02_Consultar_EstadoTrib
urlServicioEnBsg.ConsultarEstadoTribSRI=https://www.bsg.gob.ec/sw/SRI/BSGSW02_Consultar_EstadoTrib?wsdl
urlServicioProv.ConsultarEstadoTribSRI=https://sriintra01/dw-ws/consultaEstadoTributario
timeToLive.ConsultarEstadoTribSRI=360

#BGSW03_ConsultarEstadoTribExt
urlServicioExpuesto.ConsultarEstadoTribExtSRI=/SRI/BSGSW03_Consultar_EstadoTribExt
urlServicioEnBsg.ConsultarEstadoTribExtSRI=https://www.bsg.gob.ec/sw/SRI/BSGSW03_Consultar_EstadoTribExt?wsdl
urlServicioProv.ConsultarEstadoTribExtSRI=https://sriintra01/dw-ws/consultaEstadoTributarioEntExterna
timeToLive.ConsultarEstadoTribExtSRI=360

#BGSW04_ConsultarEstablecimeinto
urlServicioExpuesto.ConsultarEstableSRI=/SRI/BSGSW04_Consultar_Establecimiento
urlServicioEnBsg.ConsultarEstableSRI=https://www.bsg.gob.ec/sw/SRI/BSGSW04_Consultar_Establecimiento?wsdl
urlServicioProv.ConsultarEstableSRI=https://sriintra01/dw-ws/consultaEstablecimientos
timeToLive.ConsultarEstableSRI=360

#SENPLADES BSGSW01_ConsultarEstraObjIndSipeip
urlServicioExpuesto.ConsultarEstraObjIndSipeip=/SENPLADES/BSGSW01_Consultar_EstraObjIndSipeip
urlServicioEnBsg.ConsultarEstraObjIndSipeip=https://www.bsg.gob.ec/sw/SENPLADES/BSGSW01_Consultar_EstraObjIndSipeip?wsdl
urlServicioProv.ConsultarEstraObjIndSipeip=http://10.80.23.30:9094/sipeip-ws/SipeipWS
timeToLive.ConsultarEstraObjIndSipeip=360

# BSGSW01_ConsultarGradosDiscapacidad
urlServicioExpuesto.ConsultarGradosDiscapacidad=/MSP/BSGSW01_Consultar_Discapacidad
urlServicioEnBsg.ConsultarGradosDiscapacidad=https://www.bsg.gob.ec/sw/MSP/BSGSW01_Consultar_Discapacidad?wsdl
urlServicioProv.ConsultarGradosDiscapacidad=https://aplicaciones.msp.gob.ec/salud/publico/webService/busSnapDiscapacidades/gui/wsSnapDiscapacidades.php
timeToLive.ConsultarGradosDiscapacidad=360

#ANT BSGSW02_Pagar_Transaccion
urlServicioExpuesto.PagarTransaccion=/ANT/BSGSW02_Pagar_Transaccion
urlServicioEnBsg.PagarTransaccion=https://www.bsg.gob.ec/sw/ANT/BSGSW02_Pagar_Transaccion?wsdl
urlServicioProv.PagarTransaccion=http://10.80.134.12:7001/WebServices-WSANT-context-root/MetodosPort
timeToLive.PagarTransaccion=180

#ANT BSGSW01_Consultar_Direccion
urlServicioExpuesto.ConsultarDireccion=/ANP/BSGSW01_Consultar_Direccion
urlServicioEnBsg.ConsultarDireccion=https://www.bsg.gob.ec/sw/ANP/BSGSW01_Consultar_Direccion?wsdl
urlServicioProv.ConsultarDireccion=http://10.80.47.11:8081/normalizador-ws/WebServiceANPDirecciones/DireccionesANP
timeToLive.ConsultarDireccion=180

# BSGSW08_Actualizar_Presupuesto
urlServicioExpuesto.ActualizarPresupuesto=/SNAP/BSGSW08_Actualizar_Presupuesto
urlServicioEnBsg.ActualizarPresupuesto=https://www.bsg.gob.ec/sw/SNAP/BSGSW08_Actualizar_Presupuesto?wsdl
urlServicioProv.ActualizarPresupuesto=http://gpr.administracionpublica.gob.ec/gpr_ecuador/wsActualizaPresupuesto
timeToLive.ActualizarPresupuesto=350

# BSGSW03_Consultar_Impedidos
urlServicioExpuesto.ConsultarImpedidos=/MRL/BSGSW03_Consultar_Impedidos
urlServicioEnBsg.ConsultarImpedidos=https://www.bsg.gob.ec/sw/MRL/BSGSW03_Consultar_Impedidos?wsdl
urlServicioProv.ConsultarImpedidos=http://190.152.249.210:8084/WebServiceMRLImpedidosDefinitions/WebServicesImpedidos
timeToLive.ConsultarImpedidos=360



####################################################################################
# BSGSW01_EnviarNotificacion Sistema de Remuneracion variable 
urlServicioExpuesto.EnviarNotificacionMRL=/MRL/BSGSW01_Enviar_Notificacion
urlServicioEnBsg.EnviarNotificacionMRL=https://www.bsg.gob.ec/sw/MRL/BSGSW01_Enviar_Notificacion?wsdl
urlServicioProv.EnviarNotificacionMRL=http://10.80.44.11:8085/WsNotificacionGPR/WsNotificacionGPR
timeToLive.EnviarNotificacionMRL=360

urlServicioExpuesto.EnviarNotificacionSNAP=/SNAP/BSGSW01_Enviar_Notificacion
urlServicioEnBsg.EnviarNotificacionSNAP=https://www.bsg.gob.ec/sw/SNAP/BSGSW01_Enviar_Notificacion?wsdl
urlServicioProv.EnviarNotificacionSNAP=http://rve.informatica.gob.ec/WsNotificacionGPR/WsNotificacionGPR
timeToLive.EnviarNotificacionSNAP=360


# BSGSW02_Pagarfuncionarios Sistema de Remuneracion Variable
urlServicioExpuesto.PagarFuncionarios=/MRL/BSGSW02_Pagar_Funcionarios
urlServicioEnBsg.PagarFuncionarios=https://www.bsg.gob.ec/sw/MRL/BSGSW02_Pagar_funcionarios?wsdl
urlServicioProv.PagarFuncionarios=http://10.80.44.4:8090/WSPagoFuncionarios/WSPagoFuncionarios
timeToLive.PagarFuncionarios=360

# BSGSW02_EnviarAgendaSectorial Sistema de Remuneracion Variable
urlServicioExpuesto.EnviarAgendaSectorial=/SENPLADES/BSGSW02_Enviar_AgendaSectorial
urlServicioEnBsg.EnviarAgendaSectorial=https://www.bsg.gob.ec/sw/SENPLADES/BSGSW02_Enviar_AgendaSectorial?wsdl
urlServicioProv.EnviarAgendaSectorial=http://10.80.23.30:9094/sipeip-ws/AgendaSectorialWS
timeToLive.EnviarAgendaSectorial=360

# BSGSW02_Generar_ArchivosGPR Sistema de Remuneracion Variable
urlServicioExpuesto.GenerarArchivosGPR=/STI/BSGSW02_Generar_ArchivosGPR
urlServicioEnBsg.GenerarArchivosGPR=https://www.bsg.gob.ec/sw/STI/BSGSW02_Generar_ArchivosGPR?wsdl
urlServicioProv.GenerarArchivosGPR=http://gpr.administracionpublica.gob.ec/gpr_ecuador/wsGenerarArchivosPlanEstrategicoGobierno
timeToLive.GenerarArchivosGPR=360
######################################################################################
####   Migracion GIRG  ###############################################################

 # BSGSW01_Proceso_Contratacion GIRG

urlServicioExpuesto.ProcesarContratacion=/SERCOP/BSGSW01_Procesar_Contratacion
urlServicioEnBsg.ProcesarContratacion=https://www.bsg.gob.ec/sw/SERCOP/BSGSW01_Procesar_Contratacion?wsdl
urlServicioProv.ProcesarContratacion =https://www.compraspublicas.gob.ec/ProcesoContratacion/app/webroot/compras/servicio/swConsSC.php?wsdl
timeToLive.ProcesarContratacion =360

# BSGSW02_Procesar_Compras GIRG

urlServicioExpuesto.ProcesarCompras=/SERCOP/BSGSW02_Procesar_Compras
urlServicioEnBsg.ProcesarCompras=https://www.bsg.gob.ec/sw/SERCOP/BSGSW02_Procesar_Compras?wsdl
urlServicioProv.ProcesarCompras =https://www.compraspublicas.gob.ec/ProcesoContratacion/app/webroot/compras/servicio/swSC.php
timeToLive.ProcesarCompras =360

 # BSGSW03_Procesar_Estados GIRG

urlServicioExpuesto.ProcesarEstados=/SERCOP/BSGSW03_Procesar_Estados
urlServicioEnBsg.ProcesarEstados=https://www.bsg.gob.ec/sw/SERCOP/BSGSW03_Procesar_Estados?wsdl
urlServicioProv.ProcesarEstados =https://www.compraspublicas.gob.ec/ProcesoContratacion/app/webroot/compras/servicio/swObtenerProceso.php
timeToLive.ProcesarEstados =180

 # BSGSW01_Iniciar_Cierre GIRG

urlServicioExpuesto.IniciarCierre=/SNAP/BSGSW06_Iniciar_Cierre
urlServicioEnBsg.IniciarCierre=https://www.bsg.gob.ec/sw/SNAP/BSGSW06_Iniciar_Cierre?wsdl
urlServicioProv.IniciarCierre =http://bpm.informatica.gob.ec/servicio-cliente/ClienteCierre
timeToLive.IniciarCierre =180


# BSGSW02_Iniciar_Contratacion GIRG

urlServicioExpuesto.IniciarContratacion=/SNAP/BSGSW07_Iniciar_Contratacion
urlServicioEnBsg.IniciarContratacion=https://www.bsg.gob.ec/sw/SNAP/BSGSW07_Iniciar_Contratacion?wsdl
urlServicioProv.IniciarContratacion =http://bpm.informatica.gob.ec/servicios-proceso/EstadoContratacion
timeToLive.IniciarContratacion =180
#**************************************************************

#BSGSW01_Consultar_AfiliadoIssfa

urlServicioExpuesto.ConsultarAfiliadoIssfa=/ISSFA/BSGSW01_Consultar_AfiliadoIssfa
urlServicioEnBsg.ConsultarAfiliadoIssfa=https://www.bsg.gob.ec/sw/ISSFA/BSGSW01_Consultar_AfiliadoIssfa?wsdl
urlServicioProv.ConsultarAfiliadoIssfa=https://ws.issfa.mil.ec:8443/ws_msp/wsAfiliadosSalud.php
timeToLive.ConsultarAfiliadoIssfa=360
 
 #BSGSW01_Consultar_AfiliadoIsspol

urlServicioExpuesto.ConsultarAfiliadoIsspol=/ISSPOL/BSGSW01_Consultar_AfiliadoIsspol
urlServicioEnBsg.ConsultarAfiliadoIsspol=https://www.bsg.gob.ec/sw/ISSPOL/BSGSW01_Consultar_AfiliadoIsspol?wsdl
urlServicioProv.ConsultarAfiliadoIsspol=http://www.isspol.gob.ec:2320/WSSeguroSalud/AfiliadoSeguroSaludISSPOL
timeToLive.ConsultarAfiliadoIsspol=360

 #BSGSW01_Consultar_AfiliadoIess

urlServicioExpuesto.ConsultarAfiliadoIess=/IESS/BSGSW01_Consultar_AfiliadoIess
urlServicioEnBsg.ConsultarAfiliadoIess=https://www.bsg.gob.ec/sw/IESS/BSGSW01_Consultar_AfiliadoIess?wsdl
urlServicioProv.ConsultarAfiliadoIess=http://192.168.11.113/unidadmedica-1.0/ConsultaAtencionMedicaWsImpl
timeToLive.ConsultarAfiliadoIess=360


#BSGSW01_Consultar_Habilitacion

urlServicioExpuesto.ConsultarHabilitacion=/CEAACES/BSGSW01_Consultar_Habilitacion
urlServicioEnBsg.ConsultarHabilitacion=https://www.bsg.gob.ec/sw/CEAACES/BSGSW01_Consultar_Habilitacion?wsdl
urlServicioProv.ConsultarHabilitacion=http://giiestest.ceaaces.gob.ec:8081/habilitacionCeaaces-ws/ServicioWebHabilitacion
timeToLive.ConsultarHabilitacion=360




#PARAMETROS SNAP

#base postgresql

snap.db.host=192.168.50.105
snap.db.port=5432
snap.db.name=snapbsg
snap.db.user=snapbsg01
snap.db.password=DadAy6csEer

#activeMQ

amq.host=127.0.0.1
amq.port=61616
amq.userName=admin
amq.password=admin

#uri  web service

consultarContraseniaService.uri=http://ews.bsg.int/sbsg-sw/ConsultaContrasenaWS/BSG06_Consulta_Contrasenia
accederBsg.url=http://ews.bsg.int/sbsg-sw/AccesoBSGService/BSG04_Acceder_BSG
consultarCedula.url=http://webservice02.registrocivil.gob.ec:8080/WEBRegCivCedula/WSRegistroCivilConsultaCedula
consultarToken.url=http://ews.bsg.int/UserNameToken/GenerarTokenService/BSG01_Generar_Token
esb.accesobsg.fuse.url=http://srvprofuse1.bsg.int:8181/cxf/AccesoBsgService
